.card-img-top {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    transition: filter 0.3s; /* Add transition for smooth blur effect */
}

.card:hover .card-img-top {
    filter: blur(2px); /* Apply blur effect to the image */
}

.position-absolute {
    border-radius: 0.25rem;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: rgba(22, 12, 40, 0.6); /* Slightly dark background using palette color */
    color: #fffffa; /* Light text */
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Align text to bottom */
    border-radius: 15px;
    cursor: pointer; /* Add pointer cursor for hover */
}

.card:hover .card-body {
    opacity: 1;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    font-size: 14px;
    text-align: justify; /* Justify text */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Unique colors for labels */
.movie-label {
    background-color: #725ac1; /* Color from palette */
    color: #fffffa; /* White text */
    font-weight: bold; /* Bold text */
}

.tv-label {
    background-color: #4fb0c6; /* Color from palette */
    color: #fffffa; /* White text */
    font-weight: bold; /* Bold text */
}

.anime-label {
    background-color: #3e442b; /* Color from palette */
    color: #fffffa; /* White text */
    font-weight: bold; /* Bold text */
}

/* Ensuring hover text color is light */
.card:hover .card-title,
.card:hover .card-text {
    color: #fffffa !important; /* Ensuring light text color */
}

/* Custom CSS Grid for flexible layout */
.media-grid {
    display: grid;
    gap: 20px;
}

.grid-cols-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-cols-4 {
    grid-template-columns: repeat(4, 1fr);
}

.grid-cols-6 {
    grid-template-columns: repeat(6, 1fr);
}

.grid-cols-8 {
    grid-template-columns: repeat(8, 1fr);
}

.grid-cols-10 {
    grid-template-columns: repeat(10, 1fr);
}

/* Dark mode styles */
.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

.dark-mode .container,
.dark-mode .card,
.dark-mode .btn,
.dark-mode .form-select,
.dark-mode .form-check-input {
    background-color: #121212;
    color: #e0e0e0;
    border-color: #e0e0e0;
}

.dark-mode .card-body {
    background: rgba(255, 255, 255, 0.2);
}

.dark-mode .btn-outline-primary {
    border-color: #e0e0e0;
    color: #e0e0e0;
}

.dark-mode .btn-outline-primary:hover {
    background-color: #e0e0e0;
    color: #121212;
}

.dark-mode .form-check-input {
    background-color: #e0e0e0;
    border-color: #e0e0e0;
}

/* Ensure the container is centered and wider */
.content-wrapper {
    max-width: 90%; /* Adjust the width as needed */
    margin: 0 auto;
    padding: 20px;
}
