/* CastGrid.css */
@import './common.css';

.cast-grid-container {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    max-height: 200px;
    margin-bottom: 20px;
    transition: overflow-y 0.3s;
}

.cast-grid-container:hover {
    overflow-y: auto;
}

.cast-grid {
    display: flex;
    flex-direction: row;
}

.cast-member {
    flex: 0 0 120px;
    margin-right: 10px;
    text-align: center;
    overflow: hidden;
}

.cast-headshot {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-bottom: 5px;
}

.cast-name {
    font-weight: bold;
    margin-bottom: 5px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cast-character {
    font-style: italic;
    color: #555;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}
