/* common.css */

/* General Container Styles */
.container {
    max-width: 80%;
    margin: auto;
}

/* Consistent Page Width */
.page-width {
    max-width: 90%; /* Adjust this value as needed for consistency */
    margin: 0 auto;
}

/* Flex and Grid Layouts */
.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.grid {
    display: grid;
    gap: 20px;
}

/* Grid Columns */
.grid-cols-2 { grid-template-columns: repeat(2, 1fr); }
.grid-cols-4 { grid-template-columns: repeat(4, 1fr); }
.grid-cols-6 { grid-template-columns: repeat(6, 1fr); }
.grid-cols-8 { grid-template-columns: repeat(8, 1fr); }
.grid-cols-10 { grid-template-columns: repeat(10, 1fr); }

/* Card Styles */
.card {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: 15px;
}

.card-img-top {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    transition: filter 0.3s, background-color 0.3s;
}

.card:hover .card-img-top {
    filter: blur(2px);
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: rgba(22, 12, 40, 0.6);
    color: #fffffa;
    opacity: 0;
    transition: opacity 0.3s, background-color 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 15px;
}

.card:hover .card-body {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.6);
}

/* Labels */
.label {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
    color: #fffffa;
    z-index: 10;
}

.label.movie { background-color: #725ac1; }
.label.tv { background-color: #4fb0c6; }
.label.anime { background-color: #3e442b; }

/* Text Styles */
.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    font-size: 14px;
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Toggle Switch */
.toggle-switch {
    position: relative;
    width: 60px;
    height: 34px;
    display: inline-block;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round { border-radius: 34px; }
.slider.round:before { border-radius: 50%; }

/* Icons */
.icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #121212;
    transition: opacity 0.4s;
}

.sun-icon { left: 6px; opacity: 1; }
.moon-icon { right: 6px; opacity: 0; }

input:checked + .slider .sun-icon { opacity: 0; }
input:checked + .slider .moon-icon { opacity: 1; }

/* Dark Mode */
.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

.dark-mode .container,
.dark-mode .card,
.dark-mode .btn,
.dark-mode .form-select,
.dark-mode .form-check-input {
    background-color: #121212;
    color: #e0e0e0;
    border-color: #e0e0e0;
}

.dark-mode .card-body {
    background: rgba(255, 255, 255, 0.2);
}

.dark-mode .btn-outline-primary {
    border-color: #e0e0e0;
    color: #e0e0e0;
}

.dark-mode .btn-outline-primary:hover {
    background-color: #e0e0e0;
    color: #121212;
}

.dark-mode .form-check-input {
    background-color: #e0e0e0;
    border-color: #e0e0e0;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #007bff;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #0056b3;
}

.scrollbar-width {
    scrollbar-width: thin;
    scrollbar-color: #007bff #f1f1f1;
}

/* Misc */
.margin-bottom-20 { margin-bottom: 20px; }
