/* MediaList.css */
@import './common.css';

/* Card-specific styles */
.card {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: 15px;
}

.card-img-top {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    transition: filter 0.3s, background-color 0.3s;
}

.card:hover .card-img-top {
    filter: blur(2px);
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: rgba(22, 12, 40, 0.6); /* Slightly dark background */
    color: #fffffa; /* Light text */
    opacity: 0;
    transition: opacity 0.3s, background-color 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Align text to bottom */
    border-radius: 15px;
}

.card:hover .card-body {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.6); /* Dark overlay on hover */
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    font-size: 14px;
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Unique colors for labels */
.movie-label {
    background-color: #725ac1; /* Color from palette */
    color: #fffffa; /* White text */
    font-weight: bold; /* Bold text */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10; /* Ensure it is above other elements */
}

.tv-label {
    background-color: #4fb0c6; /* Color from palette */
    color: #fffffa; /* White text */
    font-weight: bold; /* Bold text */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10; /* Ensure it is above other elements */
}

.anime-label {
    background-color: #3e442b; /* Color from palette */
    color: #fffffa; /* White text */
    font-weight: bold; /* Bold text */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10; /* Ensure it is above other elements */
}

/* Ensuring hover text color is light */
.card:hover .card-title,
.card:hover .card-text {
    color: #fffffa !important; /* Ensuring light text color */
}

/* Custom CSS Grid for flexible layout */
.media-grid {
    display: grid;
    gap: 20px;
}
